.main {
	width: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.4;
    font-size: 18px;
}

.content {
	background:rgba(255,255,255,0.7);
	border-radius: 5px;
	margin-top: 20%;
    padding: 3%;
    color: #3b4044;
    font-family: Georgia, 'Times New Roman', serif;
    text-align: left;
}

.hightext {
    color: #6c698f;
    font-weight: bold;
}

.hightext:hover {
	color: #3B394F;
	text-shadow: 0 0 15px #CCC3BF;
	cursor: crosshair;
}

.statictext {
    color: #6c698f;
    font-weight: bold;
}