.main {
	width: 50%;
    margin: 0 auto;
    text-align: center;
}

.content {
	background:rgba(255,255,255,0.7);
	border-radius: 5px;
	margin-top: 20%;
    padding: 3%;
    color: #3b4044;
    font-family: Georgia, 'Times New Roman', serif;
    text-align: left;
}

.optionitem {
    color: #6c698f;
    font-weight: bold;
}